Node-Red Flow/flows.json
[{"id":"91bfe3c2.82a68","type":"tab","label":"Customer Help Desk","disabled":false,"info":""},{"id":"cc38974d.042738","type":"debug","z":"91bfe3c2.82a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":120,"wires":[]},{"id":"d09bb681.085fd8","type":"function","z":"91bfe3c2.82a68","name":"","func":"msg.payload = \" \"+msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["ca0286d2.182658"]]},{"id":"86722136.1bab1","type":"function","z":"91bfe3c2.82a68","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    for(var i in msg.payload.context.webhook_result_1.results)\n    {\n        msg.payload.text = msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["bf72349d.bd0368"]]},{"id":"3bcef049.c80bd","type":"ui_form","z":"91bfe3c2.82a68","name":"","label":"","group":"4dbda236.78d2ac","order":2,"width":0,"height":0,"options":[{"label":"What's the issue?","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":660,"wires":[["d09bb681.085fd8"]],"info":"<input type=\"text\" placeholder=\"What's your query?\" />"},{"id":"ca0286d2.182658","type":"watson-conversation-v1","z":"91bfe3c2.82a68","name":"","workspaceid":"6e972715-324f-45a7-979e-d609831a3679","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fe1e54ee-a2dc-4084-9a58-717f3aeb35ca","timeout":"","optout-learning":false,"x":580,"y":120,"wires":[["cc38974d.042738","86722136.1bab1"]]},{"id":"bf72349d.bd0368","type":"ui_template","z":"91bfe3c2.82a68","group":"369f99d6.04ccc6","name":"ChatBot","order":0,"width":"20","height":"6","format":"<div ng-bind-html=\"msg.payload\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1200,"y":640,"wires":[[]]},{"id":"4dbda236.78d2ac","type":"ui_group","z":"","name":"I am here to help you","tab":"5ccf1450.7d554c","order":1,"disp":true,"width":"20","collapse":false,"info":"<input type=\"text\" placeholder=\"Enter your problem here\" />"},{"id":"369f99d6.04ccc6","type":"ui_group","z":"","name":"Here's what I think about it","tab":"5ccf1450.7d554c","order":2,"disp":true,"width":"20","collapse":false},{"id":"5ccf1450.7d554c","type":"ui_tab","z":"","name":"Virtual Assistant","icon":"dashboard","disabled":false,"hidden":false}]